<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact - MiniGames by GameManiac</title>

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="../css/fresh-bootstrap-table.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!--  Just for demo purpose, do not include in your project   -->
    <script src="../js/demo/gsdk-switch.js"></script>
    <script src="../js/demo/jquery.sharrre.js"></script>
    <script src="../js/demo/demo.js"></script>
    <link href="../css/demo.css" rel="stylesheet"/>

</head>
<body>

<div class="wrapper">

  <div class="logo-container">
    <div class="logo">
      <img src="https://pbs.twimg.com/profile_images/977530414343495680/Oz0zY1Iu_400x400.jpg">
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="description">

                <a th:href="@{/}"><h2>MINIGAMES BY GAMEMANIAC</h2></a>
            </div>
            <br>
            <br>
            <br>
            <div class="contactcontainer">
                <form th:action="@{savegame}" method="post" th:object="${newGame}">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="gameName" class="form-label">Game name</label>
                            <input id="gameName" class="form-control" placeholder="Game name" name="gameName">
                        </div>
                        <div class="col-md-4">
                            <label for="editor" class="form-label">Editor</label>
                            <input class="form-control" id="editor"
                                   placeholder="Editor" name="editor">
                        </div>
                        <div class="col-md-4">
                            <label for="author" class="form-label">Author</label>
                            <input class="form-control" id="author"
                                   placeholder="Author" name="author">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="age" class="form-label">Age</label>
                            <input class="form-control" id="age"
                                   placeholder="Age" name="age">
                        </div>
                        <div class="col-md-4">
                            <label for="yearEdition" class="form-label">Release date</label>
                            <input class="form-control" id="yearEdition" type="number" value="0"
                                   placeholder="Year edition" name="yearEdition">
                        </div>
                        <div class="col-md-4">
                            <label for="minPlayers" class="form-label">Minimum players</label>
                            <input class="form-control" id="minPlayers" type="number" value="0"
                                   placeholder="Min players" name="minPlayers">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="maxPlayers" class="form-label">Maximum players</label>
                            <input class="form-control" id="maxPlayers" type="number" value="0"
                                   placeholder="Max players" name="maxPlayers">
                        </div>
                        <div class="col-md-4">
                            <label for="playDuration" class="form-label">Play duration</label>
                            <input class="form-control" id="playDuration"
                                   placeholder="Play duration" name="playDuration">
                        </div>
                        <br>
                        <div class="col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input class="form-control" id="price" type="number" value="0"
                                   placeholder="Price" name="price">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="category" class="form-label">Category</label>
                            <select class="form-control" th:field="*{category.id}" id="category">
                                <option th:each="category : ${cats}" th:text="${category.getCategoryName()}"
                                        th:value="${category.getId()}"></option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="difficulty" class="form-label">Difficulty</label>
                            <select class="form-control" th:field="*{difficulty.id}" id="difficulty">
                                <option th:each="diff : ${difficulties}" th:text="${diff.getDifficultyName()}"
                                        th:value="${diff.getId()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="submitbnt" type="submit" class="form-control btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
  </div>
</div>

</body>
</html>