<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Games Mini </title>

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="../css/fresh-bootstrap-table.css" rel="stylesheet"/>
    <link href="../css/demo.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!--  Just for demo purpose, do not include in your project   -->
    <script src="../js/demo/gsdk-switch.js"></script>
    <script src="../js/demo/jquery.sharrre.js"></script>
    <script src="../js/demo/demo.js"></script>

</head>
<body>

<div class="wrapper">

    <div class="logo-container">
        <div class="logo">
            <img src="https://pbs.twimg.com/profile_images/977530414343495680/Oz0zY1Iu_400x400.jpg">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="description">
                    <h2>MINIGAMES BY GAMEMANIAC</h2>
                </div>

                <div class="fresh-table full-color-orange">
                    <!--
                      Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                      Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
                    -->


                    <div class="toolbar">
                        <button id="contactBtn" class="btn btn-default"><a th:href="@{contact}"
                                                                           target="_blank">Contact</a></button>
                        <button class="btn btn-success"><a th:href="@{newgame}" target="_blank">Add a new game</a> </button>

                    </div>

                    <table id="fresh-table" class="table">
                        <thead>
                        <th data-field="name" data-sortable="true">Game Name</th>
                        <th data-field="id" data-sortable="true">Game Id</th>
                        <th data-field="difficulty" data-sortable="true">Difficulty</th>
                        <th data-field="editor">Editor</th>
                        <th data-field="author">Author</th>
                        <th data-field="yearedition">Year edition</th>
                        <th data-field="age">Age</th>
                        <th data-field="minplayers">Minimum players</th>
                        <th data-field="maxplayers">Maximum players</th>
                        <th data-field="playduration">Play duration</th>
                        <th data-field="price">Price</th>
                        <th data-field="image">Image</th>
                        <th data-field="actions">Actions</th>
                        </thead>

                        <tbody>
                        <tr th:each="game : ${allGames}">
                            <td th:text="${game.getGameName()}"></td>
                            <td th:text="${game.getId()}"></td>
                            <td th:text="${game.getDifficulty().getDifficultyName()}"></td>
                            <td th:text="${game.getEditor()}"></td>
                            <td th:text="${game.getAuthor()}"></td>
                            <td th:text="${game.getYearEdition()}"></td>
                            <td th:text="${game.getAge()}"></td>
                            <td th:text="${game.getMinPlayers()}"></td>
                            <td th:text="${game.getMaxPlayers()}"></td>
                            <td th:text="${game.getPlayDuration()}"></td>
                            <td th:text="${game.getPrice()}"></td>
                            <td th:text="${game.getImage()}"></td>
                            <td><a th:href="@{/delete/{myId}(myId=${game.getId()})}"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <div class="description description-footer">

                    <p>Copyright &copy; 2021 , made by Margaux</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="fixed-plugin" style="top: 300px">
    <div class="dropdown open">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title">Adjustments</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger">
                    <p>Full Background</p>
                    <div class="switch"
                         data-on-label="ON"
                         data-off-label="OFF">
                        <input type="checkbox" checked data-target="section-header" data-type="parallax"/>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger">
                    <p>Colors</p>
                    <div class="pull-right">
                        <span class="badge filter badge-blue" data-color="blue"></span>
                        <span class="badge filter badge-azure" data-color="azure"></span>
                        <span class="badge filter badge-green" data-color="green"></span>
                        <span class="badge filter badge-orange active" data-color="orange"></span>
                        <span class="badge filter badge-red" data-color="red"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
        </ul>
    </div>
</div>

</body>
<script type="text/javascript">
    var $table = $('#fresh-table')
    var $alertBtn = $('#alertBtn')

    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row))
            console.log(value, row, index)
        },
        'click .edit': function (e, value, row, index) {
            alert('You click edit icon, row: ' + JSON.stringify(row))
            console.log(value, row, index)
        },
        'click .remove': function (e, value, row, index) {
            $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
            })
        }
    }

    function operateFormatter(value, row, index) {
        return [
            '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
            '<i class="fa fa-heart"></i>',
            '</a>',
            '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
            '<i class="fa fa-edit"></i>',
            '</a>',
            '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
            '<i class="fa fa-remove"></i>',
            '</a>'
        ].join('')
    }

    $(function () {
        $table.bootstrapTable({
            classes: 'table table-hover table-striped',
            toolbar: '.toolbar',

            search: true,
            showRefresh: true,
            showToggle: true,
            showColumns: true,
            pagination: true,
            striped: true,
            sortable: true,
            pageSize: 8,
            pageList: [8, 10, 25, 50, 100],

            formatShowingRows: function (pageFrom, pageTo, totalRows) {
                return ''
            },
            formatRecordsPerPage: function (pageNumber) {
                return pageNumber + ' rows visible'
            }
        })
// $alertBtn.click(function () {
//          alert('You pressed on Alert')
        //       })
    })

</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga')

    ga('create', 'UA-46172202-1', 'auto')
    ga('send', 'pageview')

</script>

</html>
